Printer.dll
*.def
*.o
/*.zip
/README.aux
/README.dvi
/README.html
/README.log
/README.out
/README.pdf
/README.tex
/src/.obj
/VS2019/.vs
/VS2019/Debug*
/VS2019/Release*
/VS2019/nsisprinter.VC.*
/VS2019/nsisprinter.opensdf
/VS2019/nsisprinter.sdf
/VS2019/nsisprinter.v12.suo
/VS2019/nsisprinter.vcxproj.user
