Printer.dll
*.def
*.o
/*.zip
/README.aux
/README.dvi
/README.html
/README.log
/README.out
/README.pdf
/README.tex
/src/.obj
/VS2015/.vs
/VS2015/Debug*
/VS2015/Release*
/VS2015/nsisprinter.VC.*
/VS2015/nsisprinter.opensdf
/VS2015/nsisprinter.sdf
/VS2015/nsisprinter.v12.suo
/VS2015/nsisprinter.vcxproj.user
