/*
 * Created:  Fri 12 Dec 2014 07:37:55 PM PST
 * Modified: Mon 11 Apr 2016 04:09:18 PM PDT
 *
 */

#include <windows.h>
#include "printer.h"

IDD_PRINTER_SELECT DIALOGEX 100, 50, 175, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Printer Select"
FONT 8, "Helv"
BEGIN
	COMBOBOX    IDC_PRINTER_COMBO,5,15,160,40,CBS_DROPDOWNLIST,CBS_HASSTRINGS
	PUSHBUTTON  "&Ok",IDOK,120,30,50,15
	CTEXT	    "Please select your default printer:",
		    IDC_PRINTER_CTEXT,5,5,160,10,SS_SIMPLE
END
